<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cemenghui.course.dao.UserDao">

    <!-- 管理员查询结果映射 -->
    <resultMap id="BaseResultMap" type="com.cemenghui.course.common.AdminUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="admin_level" property="adminLevel" jdbcType="VARCHAR"/>
        <result column="permissions" property="permissions" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 根据账号查询管理员 -->
    <select id="findByAccount" resultMap="BaseResultMap">
        SELECT * FROM admin_user WHERE account = #{account}
    </select>

    <!-- 记录管理员登录时间 -->
    <insert id="recordLogin">
        INSERT INTO admin_login_log (admin_id, login_time)
        VALUES (#{adminId}, #{loginTime})
    </insert>
</mapper>